#index_header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 300px;
}

#title_index {
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: "Playfair", serif;
    font-size: 50px;
    z-index: 1;
}

#title_index h1{
    color:rgb(10, 57, 129);
}

#title_index h2{
    color: rgb(227, 142, 73);
}

#img_title_index {
    justify-content: center;
    box-shadow: 20px;
}

#img_title_index img {
    border-color: transparent;
    border: 2px;
    border-radius: 5%;
}

#circulo1 {
    background-color: rgb(31, 80, 154);
    opacity: 40%;
    border-radius: 50%;
    height: 1000px;
    width: 1000px;
    position: absolute;
    top: -400px;
    left: -400px;
    z-index: 0;
}