#index_header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 300px;
}

#title_index {
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: "Playfair", serif;
    font-size: 50px;
    z-index: 1;
}

#title_index h1{
    color:rgb(67, 46, 84);
}

#title_index h2{
    color: rgb(174, 68, 90);
}

#img_title_index {
    justify-content: center;
}

#img_title_index img {
    border-color: transparent;
    border: 2px;
    border-radius: 5%;
}

#circulo1 {
    background-color: rgb(67, 46, 84);
    opacity: 70%;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 0;
}